<br>

<mat-card>
  <mat-card-content>


<div class="">

  <mat-grid-list cols="3" rowHeight="150px">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <img src="https://media.contentapi.ea.com/content/dam/star-wars-battlefront-2/images/2019/08/swbf2-refresh-hero-large-heroes-page-luke-skywalker-16x9-xl.jpg.adapt.crop3x2.1455w.jpg" alt="Eror" width="250" height="150" >
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
  
  <mat-grid-list cols="1" rowHeight="800px" >
    <!-- <mat-grid-tile>  -->

      <mat-list>
        <mat-list-item> <span>name: </span>{{detalle.name }}</mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>height: </span>{{detalle.height}}</mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>mass: </span>{{detalle.mass}} </mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>hair_color: </span>{{detalle.hair_color}} </mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>skin_color: </span>{{detalle.skin_color}} </mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>eye_color: </span>{{detalle.eye_color}} </mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>birth_year: </span>{{detalle.birth_year}} </mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>gender: </span>{{detalle.gender}} </mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>homeworld: </span>{{detalle.homeworld}} </mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <p><span>films:</span> {{detalle.films}}</p> </mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>species: </span>{{detalle.species }} </mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>vehicles: </span>{{detalle.vehicles}} </mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>starships: </span>{{detalle.starships}} </mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>created: </span>{{detalle.created | date:'d/M/yy, h:mm a'}} </mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>edited: </span>{{detalle.edited | date:'d/M/yy, h:mm a'}} </mat-list-item>
        <mat-divider [inset]="true" [vertical]="true" ></mat-divider>
        <mat-list-item> <span>url: </span>{{detalle.url}} </mat-list-item> 

      </mat-list>
    
    <!-- </mat-grid-tile> -->

  </mat-grid-list>
</div>

  </mat-card-content>
</mat-card>

  <div style="display: flex; justify-content: center; margin-top: 1%; ">
      <button  mat-raised-button color="primary" (click)="router.navigateByUrl('/personajes') " >Go back</button> 
  </div>



  