span{
    font-weight: bold;
    text-transform: capitalize;
}

 p {
    text-transform: lowercase;
}

 p:first-letter {
    text-transform: uppercase;
}

table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  /*  */
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .content{
    margin: 5% auto 0 auto;
    margin-left: auto;
    /* width: 50%; */

  }

  /* mat-grid-tile {
    background: lightblue;
  } */
  
  