<!-- <table class="default">

    <app-personajes 
    *ngFor="let personaje of personajesService.personajes" 
    [personaje]="personaje" 
    routerLink="/detalle"
    ></app-personajes>

</table> -->

<router-outlet></router-outlet>