<div>
 <h1 style="text-align: center;">Star Wars Api</h1><br>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="SortChange($event)" >
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-sort-header sortActionDescription="Sort by id" mat-header-cell *matHeaderCellDef > ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id + 1}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-sort-header mat-header-cell *matHeaderCellDef > Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  
      <!-- image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Avatar </th>
        <td mat-cell *matCellDef="let row"> 
          <img src="https://media.contentapi.ea.com/content/dam/star-wars-battlefront-2/images/2019/08/swbf2-refresh-hero-large-heroes-page-luke-skywalker-16x9-xl.jpg.adapt.crop3x2.1455w.jpg" alt="Eror" width="100" height="70" >
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="sendUrlDetalle(row)" class="u-cursor"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4"> </td>
      </tr>
    </table>
  
    <mat-paginator 
    [pageSizeOptions]="[5]" 
    aria-label="Select page "
    ></mat-paginator>
  </div>
</div>

<!-- <ng-container *ngIf="personaje" >
  <table class="default" BORDER>

    <caption>
      <b>PERSONAJES PRINCIPALES</b>
    </caption>

      <tr *ngFor="let personaje of personajesService.principalesPersonajes; let i = index;" 
      (click)="sendUrlDetalle(personaje.url)"> 
          
          <td> <h3>{{ personaje.name }}</h3> </td>  
          <td> <img 
            src="https://media.contentapi.ea.com/content/dam/star-wars-battlefront-2/images/2019/08/swbf2-refresh-hero-large-heroes-page-luke-skywalker-16x9-xl.jpg.adapt.crop3x2.1455w.jpg" 
            alt="Eror" width="200" height="120"> 
          </td>
      </tr>
  </table>
</ng-container>

<ng-container *ngIf="!personaje">
    <h5>No hay datos.</h5>
</ng-container> -->