table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  div{
    margin: 2% auto 0 auto;
    margin-left: auto;
    width: 90%;

  }
  

  th.mat-sort-header-sorted {
    color: black;
  }